.State {
    display: flex;
    flex-wrap: wrap;
}
.state-information {
    display: flex;
    flex-direction: column;
    border: 1px ;
    background-color: rgba(103, 237, 255, 0.548);
    border-radius: 5px;
    margin: 2%;
    padding: 2%;
    width: 20vw;
    height: 42vh;

  }
  
.state-information p {
    font-size: .78rem;
    font-weight: 400;
    line-height: 0.7rem;
    display: flex;
    text-align: right;
    
  }
