.MainPage {
    text-align: center;
  }
  
  .MainPage-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .MainPage-logo {
      animation: MainPage-logo-spin infinite 20s linear;
    }
  }
  
  .MainPage-header {
    background-color: #4366da;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #4366da;
  }
  h1 {
    padding: .66rem 0;
    text-align: center;
    background-color: #4366da;
    font-family: 'Roboto';
    font-size: 1.8rem;
    color: #fff;
  }
  