.SearchBar {
  display: flex;
  justify-content: center;
  background-image: url('./background_search_desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 4px;
  height: 25rem;
}

.option{
  width: "20px";
  height: "20px";
}

.Search-informations{
  flex-direction:unset;
}

.Search-information {
  border: 1px ;
  background-color: rgba(103, 237, 255, 0.548);
  border-radius: 5px;
  margin: 0.3%;
  padding: 0.2%;
  height: 6vh;
  max-width: max-content;
}

.Search-information p {
  font-size: .78rem;
  font-weight: 400;
  line-height: 0.7rem;
  display: flex;
  text-align: right;
  
}


.SearchBar-sort-options li.active,
.SearchBar-sort-options li.active:hover {
  border-bottom: 1px solid #f0c36c;
  color: #43aec9;
}

.SearchBar-fields {
  justify-content: center;
  margin-bottom: 2.88rem;
}

.SearchBar-fields input {
  width: 21rem;
  padding: .66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 500;
}

.SearchBar-fields input:last-child {
  margin-right: 0;
}

.SearchBar-submit {
  text-align: center;
}

.SearchBar-submit a {
  border-radius: 4px;
  padding: .72rem 1.7rem;
  background-color: #4366dad2;
  color: #ffffff;
  font-weight: 600;
  transition: background-color .5s;
}

.SearchBar-submit a:hover {
  cursor: pointer;
  background-color: #3552b3d2;
}
